* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    background-image: url(img/Fundo\ web.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.btn-contato button {
    color: white;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.interface .logo img{
    height: 350px;
    margin: 0 500px -180px;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(190, 12, 206);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}


h2.titulo {
    color: black;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: rgb(162, 0, 255);
}

header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: rgb(134, 132, 132);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover {
    color: black;
    transform: scale(1.10);
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

.btn-abrir-menu i{
    color: rgb(225, 0, 255);
    font-size: 40px;
}

.menu-mobile{
    background-color: black;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
}

.menu-mobile .btn-fechar i{
    color: rgb(247, 0, 255);
    font-size: 30px;
}

.menu-mobile .btn-fechar{
    padding: 20px 5%;
}

.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav ul li a {
    color: white;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover {
    background-color: rgb(234, 0, 255);
    color: black;
}

.overlay-menu{
    background-color: rgba(0, 0, 0, 0.747);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8888;
    display: none;
}

button:hover {
    box-shadow: 0px 0px 8px rgb(253, 0, 240);
    transform: scale(1.05);
}

section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: black;
    font-size: 50px;
    line-height: 40px;
}

.topo-do-site .text-topo-site h1 span {
    color: rgb(255, 0, 242);
    font-size: 50px;
}

.topo-do-site .text-topo-site p {
    color: black;
    margin: 40px 0;
    font-size: 20px;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    filter: drop-shadow(0px 0px 15px rgb(255, 0, 212));
}


@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

section.especialidades {
    padding: 40px 4%;
}

section.especialidades .flex {
    gap: 60px;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.253);
}

.especialidades .especialidades-box i {
    font-size: 70px;
    color: rgb(247, 0, 255);
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

.especialidades .especialidades-box {
    color: black;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
    text-align: center;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(211, 3, 230, 0.534);
}

.especialidades .especialidades-box span {
    font-size: 70px;
    color: rgb(204, 0, 255);
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

section.sobre {
    padding: 50px 4%;
}

.sobre .txt-sobre {
    color: black;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: rgb(234, 0, 255);
    display: block;
}

.sobre .txt-sobre p {
    text-align: justify;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 30%;
    border: none;
    background-color: rgb(247, 0, 255);
    font-size: 22px;
    cursor: pointer;
    margin: 10px 5px;
    transition: .2s;
}

section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px rgba(255, 0, 200, 0.418);
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

section.portfolio .flex {
    justify-content: space-around;
    margin-top: 60px;
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 2s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0.171);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    font-weight: 600;
    color: black;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}

.img-port {
    width: 360px;
    height: 460px;
    background-color: rgba(247, 0, 255, 0.493);
}

.center {
    text-align: center;
}

.especialidades .especialidades-box P {
    text-align: left;
}

footer {
    padding: 60px 4%;
    box-shadow: 0 0 40px 10px rgba(0, 171, 250, 0.418);
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid rgb(255, 0, 221);
}

footer .line-footer p i {
    color: aqua;
    font-size: 22px;
}

footer .line-footer p a {
    color: black;
    margin: 5px;
}

.logo-footer img {
    width: 120px;
    height: 120px;
}

@media screen and (max-width: 1020px) {
    body {
        background-size: auto;
        background-position: center;
        background-color: rgba(200, 176, 223, 0.384);
    }

    .flex {
        flex-direction: column-reverse;
    }

    .logo img{
        width: 100%;
    }

    .topo-do-site .text-topo-site h1 span {
        text-align: center;
    }

    h2.titulo {
        font-size: 34px;
        line-height: 38px;
    }

    .menu.desktop,
    .btn-contato {
        display: none;
    }

    .topo-do-site h1 {
        font-size: 30px;
    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    section.topo-do-site .flex {
        gap: 40px;
    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site h1 {
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    }

    section.especialidades {
        padding: 40px 8%;
    }

    section.sobre {
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }
    .sobre .txt-sobre p {
        font-size: 20px;
    }
    .sobre .img-sobre img{
        width: 100%;
    }
    .btn-social{
        text-align: center;
    }

    section.portfolio {
        padding: 80px 8%;
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portfolio .flex {
        gap: 15px;
    }

    footer .flex {
        flex-direction: column;
        gap: 30%;
    }

    footer .line-footer {
        text-align: center;
    }

    .topo-do-site .text-topo-site h1 span {
        font-size: 35px;
    }

    .interface .logo img{
        height: 285px;
        width: 285px;
        margin: 0px 50px;
    }

    .logo-footer img {
        width: 250px;
        height: 250px;
    }

}